language: node_js
node_js:
- '0.12'
- '4'
- '5'
- '6'
- '7'
matrix:
  include:
  - node_js: 7
    env: ZUUL_ENABLED=true
sudo: false
git:
  depth: 5
cache:
  directories:
    - ~/.npm
before_install:
  - npm config set spin false --global
env:
  global:
  - secure: yu6JBuGpri4StxLK3wDn8HHQDOba4OdNqjdR8xO0ipilM/1G29kpb6jjGUYA4oNwnuPobO8Oj6R4GoZiRtcAORapEEe5ZREzv3uJScqlPdipg8SlPuiVZ9/Rs9tN+cPo8m1PtCi4gdz1w0d3AppvIUM5IgEu2+Q1iFYqnpJr9ZPu3ptXLNfpgC/oY0TuejAF0Rqmso91SlHn/nL4kXw1XQsGYAl6hLsaEdRp2WZP52eGxWNCY1gikrMjwRK10+cyesGiVDCXKRGgvViYNbM73pFcqFaKnJqXjKHV8gtlK677+GOHBrw/F44RdxU8sc7uwh786tUZhXBkUzvK6+zNsWO9zn+0/mhF5mRhiroYvhrcScprpHa5aig139U04xRtHjaagXfcMLUEpWkU9ge9OtyFmiic73WWqN3RcspSrOF4nQP8B4Ip/+8VkGijQN1mYwYlRD+89ScCmVeHnYW/BeTWE60aHWNpiO3bDjmEupBjliPGFpYlgHxKBzskU2NMpnkfdpEHODw7nsqo382CVQVipsY1x4uHi3mhu1L0X3o74FVMTh9WnDcq+boI68sZROawoLop3H2eG8lL/HkwOds9N4ZSnOLtKD7jBBiQGdqo7nMgqhAlrDGwdBmkgIuMBdAfIMpUr/VfVaFkYhJkGM0WXHzo2rAFVRMqBDPm7C8=
  - secure: gVsfXJG3PCiEOkUqf4yCohf6jg149VA6XzzRKx4p8w/z1g7NaAekNF0x3gavtrVZvsunb8wOqS2ErjlFwtsyKwRfLIzZcW8mdE8gMoQGfDx1h29zhMSKD+wF1l5FJd7nAKUBaAHCCYAeDSIQ8RwzVERC6Tpm0iCi3tyKjFiqTLdK3BfWeIwk0ztW18md8keAmNixtLbuOO5c5gelSTtL7zm/XfT9/BJ2wJachkJvv25DnMmosECFwQwbG2DUYi8DkbELeRTP3hs97+VXAUZ2A7bMypmd0pnyRST7O1CU7Tcc483hH16e+lFbMFZNnVvNMYTDqXpXxRRY/Jn6OaLhy0hZF6h8tKgGwJtO33tx7IV6bhtQmFe2GN9BM03es1LuGYmvYRK7mk3UNOyLySufihM8942gmVhfsUYH53+nj1yPs5oNyw1YPH2gagx+dzbAjs6pnSloQ7Z6HoWiRfABijq6Ol5P9FDBMXafx3C3+IVxyWuK5p3Tg03wxkOho1C+UD0uzT93o5A/DJehR4Cd3YqLYQcTgv22xTb8uj4b8Zodme7GTrCrA5y1eNl0ei6DAre+ZF4gg05C1sGPcIzQA5ht9Kw9JONk+pLMO++XTq4XwD2jWf1mOy9zBFMIHxX5WwnAf+AZgaylR3b06RbbvoTuKcZvKuD+PKxqHhlhv24=
  - secure: vmPiRyqnvBlV9JvTVBk2v5foMdSCE3pSrJng0nR0+Uu2HngMgYh5rpXs5uouFllf6T6SYjpnghohUl/r/HygGlxcxKWZGtyWO0n1ZmqENcRINn/pVVxpg2HeO3ysBHJgmncvE76+qaDgpMmeynW6kandhgExZsJxr1Oe+KtVXy7tA3hEXPEedIz6T5kf0RwYI5Eev7qVRbTRN4ZowChNJjMg1PtuSq6b9Ml1nTkABamd4VDWV6eBbWn2Yk570tpy1G9BkYs/rSB6J9VtXEnrlSHu0SpYMJ6BsOBICTu8JRujlENwv63WlSveNnUfuQqUPIU5OlbEAtFLT2Vlak+/fFTuBy3s60pkDPJGKAjMP1gRHExluHO3dxkZ9M8pKnJoZ5GfOxAlSBu6kDuE0XAcgD0uTouIJp4glL046ntcjsF6m4L7zVhBwMpI5kWoPwlE5XnCQ4e8ltDCuIhhUrxIQ5Z5KiezVwC3fsMdWPwYKJE+2lOvB3EghQTcKc0pIhnwQytI3fSkCmeBLVM+znsvZSdxp2g6tmbiCIleH8i1+no+1Ep22P/09CUQDQVpU/OVESI27e6Y3r99OBcLTAiF9YGEb13py+DTGBVwJasvv/MMm0WNCt0Wm8/LWCzp38fB6hZ7c2jOejwNP6GbevocBO6LoOi8HMdo7Y0Ks36pNAQ=
